#mindmap {
    width: 100%;
    font-family: 'Lato', sans-serif;
    font-color: #ffffff;
    height: 100vh;
    border: 1px solid lightgray;
}

body {
  font-family: 'Lato', sans-serif;
  font-weight: 200;
}

.mindmap-container {
  background-color: #333335
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}


popup {
    position: absolute;
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    z-index: 100;
}

.hidden {
    display: none;
}