body {
  //font-family: Arial, sans-serif;
  background-color: #333335;
  font-family: 'Lato', sans-serif;
  font-weight: 200
  line-height: 1.6;
  color: #ffffff;
}

header {
  background: #A83232;
  color: #fff;
  text-align: center;
  padding: 1.5rem;
}

h1 {
  font-size: 2rem;
}

section {
  margin: 1rem;
}

#graph-section {
  background-color: #333335;
}

#mindmap {
    width: 100%;
    height: 60vh;
    border: 0px solid lightgray;
}

#input-container {
  display: flex;
  flex-direction: column;
  width: 50%;
  gap: 1.5rem;
}

#3d-graph {
  width: 100%;
  height: 500px;
  gap: 1rem;
}

canvas {
  display: block;
  width: 30%;
  height: 300px;
  gap: 1rem;
  margin: 1rem;
}
input[type="range"] {
  -webkit-appearance: none;
  width: 100%;
  height: 3px;
  background-color: #D46A2C;
  border-radius: 5px;
  outline: none;
  margin-bottom: 20px;
}

input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  height: 20px;
  width: 20px;
  border-radius: 50%;
  background-color: #A83232;
  cursor: pointer;
  margin-top: -6px;
}
